.category-header {
  opacity: 0;
  text-transform: capitalize;
  transform: translateY(-20px);
  animation: category-header-load 300ms ease-in-out var(--nav-load-time);
  animation-fill-mode: forwards;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.product {
  margin: 1rem;
  position: relative;
  opacity: 0;
  transform: translateY(-30px);
  animation: product-card-load 400ms ease-in-out calc(var(--nav-load-time) + 200ms);
  animation-fill-mode: forwards;
  --btn-display: none;
}

.product:hover {
  --btn-display: flex;
}

.product .add-to-cart {
  background: var(--accent-color);
  width: 52px;
  height: 52px;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  bottom: 74px;
  right: 2rem; 
  display: var(--btn-display);
  justify-content: center;
  align-items: center;
}

@keyframes category-header-load {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes product-card-load {
  0% {
    opacity: 0;
    transform: translateY(-30px)
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}