.attribute-container.normal {
  --option-width: 4rem;
  --option-height: 3rem;
}
.attribute-container.condensed {
  --option-width: 4rem;
  --option-height: 3rem;
}

.attribute-name {
  font-weight: bold;
  font-family: 'Roboto Condensed';
  font-size: 1.2rem;
  text-transform: uppercase;
}

.attribute-options {
  display: flex;
}

.attribute-options .option {
  margin-left: 12px;
  width: var(--option-width);
  height: var(--option-height);
  border: 1px solid var(--text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.attribute-options .option:first-child {
  margin-left: 0px;
}

.attribute-options .option:hover {
  transform: translateY(-3px);
}

.option.text-selected {
  color: white;
  background-color: var(--text-color);
  transition: all 300ms ease;
}

.option.color-selected {
  position: relative;
}

.option.color-selected::before {
  content: 'c';
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background: var(--accent-color);
  color: white;
  font-size: 1rem;

  display: flex;
  justify-content: center;
  align-items: center;
}