:root {
  --gallery-width: 80px;
}

.product-container {
  display: flex;
}

.product-gallery {
  display: flex;
  flex-direction: column;
}

.product-gallery-image {
  width: var(--gallery-width);
  height: var(--gallery-width);
  margin: 20px 0px;
  cursor: pointer;
}

.product-gallery-image:hover {
  box-shadow: 0 0 16px #A8ACB0; /* 19% opacity */
  transition: box-shadow 0.3s ease-in-out;
}

.product-image {
  flex: 2 1 0;
  margin: 0px 40px;
  max-height: 600px;
  transition: all 0.3s ease-in-out;
}

.product-details {
  flex: 1 1 0;
  margin: 0px 40px;
  text-align: start;
  font-size: 18px;
}

.name {
  margin-top: 8px;
}
.price-label {
  font-family: "Roboto Condensed";
}
.price {
  margin-top: 12px;
  font-size: 24px;
}
.description {
  font-family: "Roboto";
}

.big-text {
  font-size: 30px;
}
.bold-text {
  font-weight: bold;
}
.semibold-text {
  font-weight: 600;
}
.uppercase {
  text-transform: uppercase;
}

.add-to-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  height: 52px;
  width: 100%;
  margin: 20px 0 30px;
}
.active {
  background: var(--color-primary);
  color: white;
}
.active:hover {
  filter: brightness(90%)
}

.inactive {
  background: var(--color-text);
  color: white;
  filter: opacity(0.5);
}