.category-header {
  opacity: 0;
  transform: translateY(-20px);
  animation: category-header-load 300ms ease-in-out var(--nav-load-time);
  animation-fill-mode: forwards;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

@keyframes category-header-load {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
