.attribute-container.normal {
  font-size: 1.2rem;
  --option-width: 4rem;
  --option-height: 3rem;
  --picker-size: 1.2rem;
  --gap: 12px;
}
.attribute-container.condensed {
  font-size: .8rem;
  --option-width: 2.2rem;
  --option-height: 1.5rem;
  --picker-size: 0.7rem;
  --gap: 6px;
}

.attribute-name {
  font-weight: bold;
  font-family: 'Roboto Condensed';
  text-transform: uppercase;
}


.attribute-options {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap);
}

.attribute-options .option {
  width: var(--option-width);
  height: var(--option-height);
  border: 1px solid var(--text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease;
}

.text-option:hover {
  color: white;
  background-color: var(--text-color);
}
.color-option:hover {
  transform: translateY(-2px);
}

.option.text-selected {
  color: white;
  background-color: var(--text-color);
  transition: all 300ms ease;
}

.option.color-selected {
  position: relative;
}

.option.color-selected::before {
  content: '';
  position: absolute;
  width: var(--picker-size);
  height: var(--picker-size);
  border-radius: 50%;
  background: white;
  border: 1px solid var(--text-color);
  color: white;
  font-size: 1rem;
}

.option.color-selected::after {
  content: '';
  position: absolute;
  width: calc(var(--picker-size) / 4);
  height: calc(var(--picker-size) / 2);
  border: solid var(--text-color);
  border-width: 0 2px 2px 0;
  transform: translateY(-1px) rotate(45deg);
}