@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&family=Roboto&family=Roboto+Condensed:wght@700&display=swap");

:root {
  --color-text: #1d1f22;
  --color-primary: #5ece7b;
  --color-bg: #ffffff;
  --nav-height: 80px;
  --extra-right-margin: 80px;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Raleway", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--color-text);
  background-color: var(--color-bg);
}
body {
  margin-top: var(--nav-height);
}

button {
  border: none;
  background-color: var(--color-bg);
  cursor: pointer;
}

main {
  padding: 2rem 5%;
}
main.left-aligned {
  padding-right: calc(5% + var(--extra-right-margin));
}

img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.link {
  height: 100%;
  text-decoration: none;
  color: inherit;
}

.header {
  text-align: left;
  text-transform: capitalize;
  font-size: 42px;
  margin: 20px 0px;
}

.uppercase {
  text-transform: uppercase;
}
.bold {
  font-weight: bold;
}

.navbar-container {
  height: var(--nav-height);
  width: 100%;
  position: fixed;
  top: 0;
  background: white;
  z-index: 99;
}

.navbar {
  --width: 90%;
  height: 100%;
  width: var(--width); /* TODO: seems not right should be padding */
  margin-left: calc((100% - var(--width)) / 2);
  display: flex;
  align-items: center;
  justify-content: stretch;
}
.navbar > div {
  /* TODO: fix the equal distribution of items in navbar */
  flex: 1 1 0;
}
.navbar .logo {
  width: 40px;
  height: 40px;
}

.categories-container {
  list-style-type: none;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.category-item {
  height: 100%;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  padding: 0px 10px;
  font-size: 16px;
}
.category-item-selected {
  color: var(--color-primary);
  font-weight: 600;
  border-bottom: var(--color-primary) 2px solid;
}

.controls {
  list-style-type: none;
  display: flex;
}

.push-left {
  margin-left: auto;
}
